# Spark session

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_extract, col, countDistinct, count, last
from pyspark.sql.types import IntegerType, StructType, StructField, StringType, DateType
# Spark session & context
spark = (SparkSession
         .builder
         .master("local")
         .appName("load-postgres")
         # Add postgres jar
         .config("spark.driver.extraClassPath", "/home/jovyan/work/jars/postgresql-9.4.1207.jar")
         .getOrCreate())
sc = spark.sparkContext

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/27 16:47:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/27 16:47:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
table_schema = StructType([StructField('user_id', IntegerType()),
                     StructField('regionid', StringType()),
                     StructField('duration', IntegerType()),
                     StructField('channel', StringType()),
                     StructField('unique_sess_id', StringType()),
                    StructField('app_id', IntegerType()),
                    StructField('device', StringType()),
                    StructField('cats', StringType()),
                    StructField('email', StringType()),
                    StructField('backend_id', IntegerType())])

In [4]:
df = spark.read.format("csv").option("header", True).schema(table_schema).load("../data/hiring_task.csv")

In [5]:
df.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- regionid: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- channel: string (nullable = true)
 |-- unique_sess_id: string (nullable = true)
 |-- app_id: integer (nullable = true)
 |-- device: string (nullable = true)
 |-- cats: string (nullable = true)
 |-- email: string (nullable = true)
 |-- backend_id: integer (nullable = true)

In [6]:
df = df.withColumn('duration', df['duration'].cast(IntegerType()))

In [7]:
df = df.withColumn('backend_id', regexp_extract(col('email'), r'-([0-9]+)@zattoo.com', 1))

In [8]:
df.show(truncate=False, n=70)

+-------+--------+--------+---------------+--------------------------------+------+------+------------------+-------------------------+----------+
|user_id|regionid|duration|channel        |unique_sess_id                  |app_id|device|cats              |email                    |backend_id|
+-------+--------+--------+---------------+--------------------------------+------+------+------------------+-------------------------+----------+
|219132 |CN      |12      |HiQ_zdf        |15F7A7C14254AFA3-4422BBD0D068842|8     |ipad  |Serien            |15F7A7-5040036@zattoo.com|5040036   |
|219132 |CN      |8       |HiQ_zdf        |15F7A7C37B610D05-376C0D307DC977B|8     |ipad  |Series            |15F7A7-5040036@zattoo.com|5040036   |
|219132 |CN      |334     |HiQ_zdf        |15F7A7C37B610D05-376C0D307DC977B|8     |ipad  |Series            |15F7A7-5040036@zattoo.com|5040036   |
|219132 |CN      |384     |HiQ_sf1        |15F70EFF1E46491C-39DE290AC760B2E|8     |iphone|Series            |15F70E-5040036@zattoo.com|5040036   |
|219132 |CN      |150     |HD_3plus       |15F6AF7EBBE5C137-249A1BA21E366EB|6     |web   |Documentaries     |15F6AF-5040036@zattoo.com|5040036   |
|219132 |CN      |372     |HD_3plus       |15F6AF7EBBE5C137-249A1BA21E366EB|6     |web   |Documentaries     |15F6AF-5040036@zattoo.com|5040036   |
|219132 |CN      |588     |HD_3plus       |15F6AF7EBBE5C137-249A1BA21E366EB|6     |web   |Documentaries     |15F6AF-5040036@zattoo.com|5040036   |
|219132 |CN      |1676    |HD_3plus       |15F6AF7EBBE5C137-249A1BA21E366EB|6     |web   |Documentaries     |15F6AF-5040036@zattoo.com|5040036   |
|219132 |CN      |1676    |HD_3plus       |15F6AF7EBBE5C137-249A1BA21E366EB|6     |web   |Documentaries     |15F6AF-5040036@zattoo.com|5040036   |
|219132 |CN      |974     |HiQ_zdf        |15F6B5D47DD1A54B-2E9E79E70CA7C8E|6     |web   |Series            |15F6B5-5040036@zattoo.com|5040036   |
|219132 |CN      |2460    |HiQ_zdf        |15F6B5D47DD1A54B-2E9E79E70CA7C8E|6     |web   |Series            |15F6B5-5040036@zattoo.com|5040036   |
|219132 |CN      |2460    |HiQ_zdf        |15F6B5D47DD1A54B-2E9E79E70CA7C8E|6     |web   |Series            |15F6B5-5040036@zattoo.com|5040036   |
|219132 |CN      |5054    |HiQ_zdf        |15F6B5D47DD1A54B-2E9E79E70CA7C8E|6     |web   |Information       |15F6B5-5040036@zattoo.com|5040036   |
|219132 |CN      |5054    |HiQ_zdf        |15F6B5D47DD1A54B-2E9E79E70CA7C8E|6     |web   |Information       |15F6B5-5040036@zattoo.com|5040036   |
|219132 |CN      |326     |HD_rtl2_schweiz|15F6BE9F60093811-7C9BB996CC86219|6     |web   |Series            |15F6BE-5040036@zattoo.com|5040036   |
|219132 |CN      |5260    |HiQ_zdf        |15F6BEEAA5B97309-233EB7F629AEC80|6     |web   |Information       |15F6BE-5040036@zattoo.com|5040036   |
|219132 |CN      |5260    |HiQ_zdf        |15F6BEEAA5B97309-233EB7F629AEC80|6     |web   |Information       |15F6BE-5040036@zattoo.com|5040036   |
|219132 |CN      |44      |HiQ_zdf        |15F499CA37501709-6B8C90AD42E0F0C|8     |ipad  |Series            |15F499-5040036@zattoo.com|5040036   |
|219132 |CN      |156     |HiQ_zdf        |15F5408EF4C3FD6B-4A2CC4BE0FAF3A6|8     |ipad  |Series            |15F540-5040036@zattoo.com|5040036   |
|219132 |CN      |3610    |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Entertainment     |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |152     |DE_HiQ_zdfdoku |15F667E280262A2C-632FDAA72F2059D|6     |web   |Series            |15F667-5040036@zattoo.com|5040036   |
|219132 |CN      |2360    |DE_HiQ_zdfdoku |15F667E280262A2C-632FDAA72F2059D|6     |web   |Entertainment     |15F667-5040036@zattoo.com|5040036   |
|219132 |CN      |2360    |DE_HiQ_zdfdoku |15F667E280262A2C-632FDAA72F2059D|6     |web   |Entertainment     |15F667-5040036@zattoo.com|5040036   |
|219132 |CN      |1202    |HiQ_tf1        |15F66C4C58A20423-236EB98405EC990|6     |web   |Information       |15F66C-5040036@zattoo.com|5040036   |
|219132 |CN      |1202    |HiQ_tf1        |15F66C4C58A20423-236EB98405EC990|6     |web   |Information       |15F66C-5040036@zattoo.com|5040036   |
|219132 |CN      |620     |HD_3plus       |15F66CDB3A7778C1-1378CB8B20D65A0|6     |web   |Unterhaltung      |15F66C-5040036@zattoo.com|5040036   |
|219132 |CN      |64      |HD_3plus       |15F66D23F7EB84A2-1617AEEC39E1056|6     |web   |Documentaries     |15F66D-5040036@zattoo.com|5040036   |
|219132 |CN      |734     |HD_3plus       |15F66D2BAB151900-42C4E35BE88027E|6     |web   |Unterhaltung      |15F66D-5040036@zattoo.com|5040036   |
|219132 |CN      |1318    |HiQ_itv1_london|15F66D8230E9A8A7-6A557DC11068223|6     |web   |Entertainment     |15F66D-5040036@zattoo.com|5040036   |
|219132 |CN      |1318    |HiQ_itv1_london|15F66D8230E9A8A7-6A557DC11068223|6     |web   |Entertainment     |15F66D-5040036@zattoo.com|5040036   |
|219132 |CN      |14      |HD_3plus       |15F66E1DF8730FEC-65D972165D893F4|6     |web   |Unterhaltung      |15F66E-5040036@zattoo.com|5040036   |
|219132 |CN      |1102    |HD_3plus       |15F66E20ADC48A8C-1DAEDD2002AE56A|6     |web   |Documentaries     |15F66E-5040036@zattoo.com|5040036   |
|219132 |CN      |1102    |HD_3plus       |15F66E20ADC48A8C-1DAEDD2002AE56A|6     |web   |Documentaries     |15F66E-5040036@zattoo.com|5040036   |
|219132 |CN      |1980    |HiQ_itv1_london|15F66EA16B4A0604-222E9A2FAEF9F61|6     |web   |Entertainment     |15F66E-5040036@zattoo.com|5040036   |
|219132 |CN      |1980    |HiQ_itv1_london|15F66EA16B4A0604-222E9A2FAEF9F61|6     |web   |Entertainment     |15F66E-5040036@zattoo.com|5040036   |
|219132 |CN      |34      |HD_3plus       |15F66F8B087CCC75-65A535639BFDE05|6     |web   |Unterhaltung      |15F66F-5040036@zattoo.com|5040036   |
|219132 |CN      |2224    |HD_3plus       |15F66F8F490128CC-2F00D67755EFFF6|6     |web   |Documentaries     |15F66F-5040036@zattoo.com|5040036   |
|219132 |CN      |2224    |HD_3plus       |15F66F8F490128CC-2F00D67755EFFF6|6     |web   |Documentaries     |15F66F-5040036@zattoo.com|5040036   |
|219132 |CN      |1556    |HD_3plus       |15F67092DC7384D2-C1D313BD2716DC8|6     |web   |Unterhaltung      |15F670-5040036@zattoo.com|5040036   |
|219132 |CN      |426     |HiQ_sf2        |15F6143F37CC83B9-14E2778A71C4DEF|6     |web   |Sport             |15F614-5040036@zattoo.com|5040036   |
|219132 |CN      |8922    |HiQ_zdf        |15F616628D5F3243-65CA4E963ACBC36|6     |web   |Information       |15F616-5040036@zattoo.com|5040036   |
|219132 |CN      |8922    |HiQ_zdf        |15F616628D5F3243-65CA4E963ACBC36|6     |web   |Information       |15F616-5040036@zattoo.com|5040036   |
|219132 |CN      |8922    |HiQ_zdf        |15F616628D5F3243-65CA4E963ACBC36|6     |web   |Information       |15F616-5040036@zattoo.com|5040036   |
|219132 |CN      |7336    |HD_telezueri   |15F61A725E49A20C-39275D7F4E4AE65|6     |web   |Information       |15F61A-5040036@zattoo.com|5040036   |
|219132 |CN      |7336    |HD_telezueri   |15F61A725E49A20C-39275D7F4E4AE65|6     |web   |Information       |15F61A-5040036@zattoo.com|5040036   |
|219132 |CN      |7336    |HD_telezueri   |15F61A725E49A20C-39275D7F4E4AE65|6     |web   |Information       |15F61A-5040036@zattoo.com|5040036   |
|219132 |CN      |7336    |HD_telezueri   |15F61A725E49A20C-39275D7F4E4AE65|6     |web   |Information       |15F61A-5040036@zattoo.com|5040036   |
|219132 |CN      |916     |HD_telezueri   |15F61DC8C8BFADBE-15F38980497BC3F|6     |web   |Entertainment     |15F61D-5040036@zattoo.com|5040036   |
|219132 |CN      |916     |HD_telezueri   |15F61DC8C8BFADBE-15F38980497BC3F|6     |web   |Entertainment     |15F61D-5040036@zattoo.com|5040036   |
|219132 |CN      |82      |kabel1_doku    |15F6213B78F01DD1-1C7912E5D1190AC|6     |web   |Information:Serien|15F621-5040036@zattoo.com|5040036   |
|219132 |CN      |5538    |HD_rtlnitro    |15F621465BB5BD55-43CB5BE5D4B332C|6     |web   |Series            |15F621-5040036@zattoo.com|5040036   |
|219132 |CN      |5538    |HD_rtlnitro    |15F621465BB5BD55-43CB5BE5D4B332C|6     |web   |Series            |15F621-5040036@zattoo.com|5040036   |
|219132 |CN      |10      |HD_rtlnitro    |15F623DE3067169A-5EEA36615401D48|6     |web   |Serien            |15F623-5040036@zattoo.com|5040036   |
|219132 |CN      |3928    |HiQ_zdf        |15F62417CB7C5582-4C90F0DF751EA99|8     |ipad  |Series            |15F624-5040036@zattoo.com|5040036   |
|219132 |CN      |66      |HD_tv24        |15F625E1B5202DA0-30B44C61ADECA34|8     |ipad  |Dokumentationen   |15F625-5040036@zattoo.com|5040036   |
|219132 |CN      |28      |HiQ_zdf        |15F625E6C2340012-14B72C0ACEFF606|8     |ipad  |Series            |15F625-5040036@zattoo.com|5040036   |
|219132 |CN      |2026    |HiQ_zdf        |15F6264D05F4BAFC-60D274F8B36BD11|8     |ipad  |Series            |15F626-5040036@zattoo.com|5040036   |
|219132 |CN      |60      |HiQ_sf2        |15F5AFFF9E2FF102-2F5E48660604BCA|8     |iphone|Sport             |15F5AF-5040036@zattoo.com|5040036   |
|219132 |CN      |2448    |HiQ_sf2        |15F5B024FAE73796-7ACB927FD8933B0|8     |iphone|Sport             |15F5B0-5040036@zattoo.com|5040036   |
|219132 |CN      |154     |HiQ_sf2        |15F5B1433328E5DC-770AEDE99D01C01|8     |iphone|Sport             |15F5B1-5040036@zattoo.com|5040036   |
|219132 |CN      |4232    |HiQ_sf2        |15F5B18909D60FA4-174504B18F3E37B|8     |iphone|Sport             |15F5B1-5040036@zattoo.com|5040036   |
|219132 |CN      |4       |HD_srfinfo     |15F5B37663A15F1E-3581BB0EBCA1D1F|8     |iphone|Unterhaltung      |15F5B3-5040036@zattoo.com|5040036   |
|219132 |CN      |876     |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Entertainment     |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |1568    |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Series            |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |1568    |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Series            |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |2090    |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Entertainment     |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |2126    |HD_tv24        |15F5C5E0035C4558-15A16059C8538B7|6     |web   |Entertainment     |15F5C5-5040036@zattoo.com|5040036   |
|219132 |CN      |7032    |HiQ_orf2       |15F5849DE1044259-DF54FDC349735CF|8     |ipad  |Documentaries     |15F584-5040036@zattoo.com|5040036   |
|219132 |CN      |2934    |DE_HiQ_zdfdoku |15F52D3F95F929B9-70C2411B4F95A01|8     |ipad  |Entertainment     |15F52D-5040036@zattoo.com|5040036   |
|219132 |CN      |200     |HiQ_zdf        |15F52E9F66B74B4A-4C12FA775546AD7|8     |ipad  |Series            |15F52E-5040036@zattoo.com|5040036   |
+-------+--------+--------+---------------+--------------------------------+------+------+------------------+-------------------------+----------+
only showing top 70 rows

In [9]:
df.groupBy('regionid').sum('duration').show()

+--------+-------------+
|regionid|sum(duration)|
+--------+-------------+
|      CN|    740498496|
|      AT|        58008|
|      PT|         3138|
|      CL|       570638|
|      AU|       143916|
|      GB|        12080|
|      ES|        90364|
|      US|        16546|
|      FR|       843548|
|      IT|        10748|
|      SK|        22554|
|      HU|        11240|
|      DK|           24|
+--------+-------------+

In [11]:
df.select('device', 'cats').where('regionid == "CN"').SHOW()

AttributeError: 'DataFrame' object has no attribute 'SHOW'

In [1]:
df.groupBy('device').sum('duration').alias('total_duration').show()

NameError: name 'df' is not defined

In [37]:
df.groupBy('regionid').agg(countDistinct('unique_sess_id')).show()

+--------+---------------------+
|regionid|count(unique_sess_id)|
+--------+---------------------+
|      CN|               150501|
|      AT|                   45|
|      PT|                    2|
|      CL|                  184|
|      AU|                   40|
|      GB|                    5|
|      ES|                   47|
|      US|                    3|
|      FR|                  170|
|      IT|                    2|
|      SK|                   12|
|      HU|                    1|
|      DK|                    1|
+--------+---------------------+

In [38]:
df.groupBy('device').agg(countDistinct('unique_sess_id')).show()

+-----------------+---------------------+
|           device|count(unique_sess_id)|
+-----------------+---------------------+
|           iphone|                 6771|
|          android|                 8139|
|        panasonic|                  133|
|          iPad2,1|                  437|
|android_bigscreen|                12687|
|   android_tablet|                 2947|
|     windows_xbox|                   61|
|        bigscreen|                 6187|
|  windows_desktop|                 3797|
|          iPad4,1|                 2297|
|              web|                25067|
|             ipad|                32901|
|          iPad1,1|                  351|
|          appletv|                31144|
|            tizen|                18094|
+-----------------+---------------------+

In [39]:
df.groupBy('regionid').agg(count('unique_sess_id')).show()

+--------+---------------------+
|regionid|count(unique_sess_id)|
+--------+---------------------+
|      CN|               199374|
|      AT|                   56|
|      PT|                    2|
|      CL|                  247|
|      AU|                   47|
|      GB|                    6|
|      ES|                   52|
|      US|                    5|
|      FR|                  192|
|      IT|                    2|
|      SK|                   15|
|      HU|                    1|
|      DK|                    1|
+--------+---------------------+

In [40]:
df.groupBy('device').agg(count('unique_sess_id')).show()

+-----------------+---------------------+
|           device|count(unique_sess_id)|
+-----------------+---------------------+
|           iphone|                 8553|
|          android|                11130|
|        panasonic|                  152|
|          iPad2,1|                  552|
|android_bigscreen|                15794|
|   android_tablet|                 3892|
|     windows_xbox|                   78|
|        bigscreen|                 8041|
|  windows_desktop|                 7286|
|          iPad4,1|                 2945|
|              web|                40720|
|             ipad|                38826|
|          iPad1,1|                  428|
|          appletv|                41262|
|            tizen|                20341|
+-----------------+---------------------+

In [76]:
from pyspark.sql.functions import unix_timestamp, from_unixtime, current_timestamp, to_timestamp, to_date

In [84]:
df = spark.createDataFrame(
    [("11/25/1991",), ("11/24/1991",), ("11/30/1991",)], 
    ['date_str']
)
df.show()

+----------+
|  date_str|
+----------+
|11/25/1991|
|11/24/1991|
|11/30/1991|
+----------+

In [78]:
df2 = df.select(
    'date_str', 
    from_unixtime(unix_timestamp('date_str', 'mm/dd/yyy')).alias('date')
)
df3 = df.select('date_str', to_timestamp(df.date_str, 'MM/dd/yyy').alias('date'))
df4 = df.select('date_str', to_date(df.date_str, 'MM/dd/yyy').alias('date'))

In [79]:
df2.show()

+----------+-------------------+
|  date_str|               date|
+----------+-------------------+
|11/25/1991|1991-01-25 00:11:00|
|11/24/1991|1991-01-24 00:11:00|
|11/30/1991|1991-01-30 00:11:00|
+----------+-------------------+

In [80]:
df3.show()

+----------+-------------------+
|  date_str|               date|
+----------+-------------------+
|11/25/1991|1991-11-25 00:00:00|
|11/24/1991|1991-11-24 00:00:00|
|11/30/1991|1991-11-30 00:00:00|
+----------+-------------------+

In [81]:
df4.show()

+----------+----------+
|  date_str|      date|
+----------+----------+
|11/25/1991|1991-11-25|
|11/24/1991|1991-11-24|
|11/30/1991|1991-11-30|
+----------+----------+

In [101]:
import datetime
data2 =[(datetime.datetime(2022, 3, 4, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 5, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 6, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 7, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 8, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 9, 15, 16, 3, 607621),),
 (datetime.datetime(2022, 3, 10, 15, 16, 3, 607621),)]

schema = StructType([ \
    StructField("date",DateType())
  ])
 
df_date = spark.createDataFrame(data=data2,schema=schema)

In [102]:
df_date.show()

+----------+
|      date|
+----------+
|2022-03-04|
|2022-03-05|
|2022-03-06|
|2022-03-07|
|2022-03-08|
|2022-03-09|
|2022-03-10|
+----------+

In [113]:
now =  datetime.datetime.now()
df_date.filter(df_date.date.between(now.date(),(now+datetime.timedelta(days=3)).date())).show()

+----------+
|      date|
+----------+
|2022-03-04|
|2022-03-05|
|2022-03-06|
|2022-03-07|
+----------+

In [115]:
now.date()

datetime.date(2022, 3, 4)

In [136]:
df_date['date']

Column<'date'>

In [149]:
df_date.tail(1)[0]['date']

datetime.date(2022, 3, 10)

In [150]:
df_date.show()

+----------+
|      date|
+----------+
|2022-03-04|
|2022-03-05|
|2022-03-06|
|2022-03-07|
|2022-03-08|
|2022-03-09|
|2022-03-10|
+----------+